@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik+Bubbles&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark: #07151d;
    --light: #fcefe9;
    --accent: #60b8bc;
    --dark-filter: rgba(7, 21, 29, 0.3);
    --light-filter: rgba(252, 239, 233, 0.3);
    --accent-filter: rgba(96, 184, 188, 0.3);
    --dark-img-filter: invert(6%) sepia(11%) saturate(3180%) hue-rotate(157deg) brightness(92%) contrast(97%);
    --light-img-filter: invert(90%) sepia(2%) saturate(1331%) hue-rotate(324deg) brightness(107%) contrast(98%);
    --accent-image-filter: invert(71%) sepia(9%) saturate(1873%) hue-rotate(134deg) brightness(94%) contrast(84%);
}

.projects, .project, .task-card {
   background-color: var(--dark-filter);
   backdrop-filter: blur(8px);
   border: none;
   box-shadow: 0 0.75rem 3rem 0 var(--dark); 
}

.prompt {
    font-family: "Nunito", sans-serif;
    background-color: var(--light-filter);
    backdrop-filter: blur(3rem);
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 4rem;
    border-radius: 1.5rem;
    position: relative;
}

button {
    background: none;
    border: none;
    color: var(--light);
    cursor: pointer;
}

li {
    list-style: none;
    font-family: "Nunito", sans-serif;
}

img {
    filter: var(--light-img-filter);
    width: 1.5rem;
    height: auto;
    cursor: pointer;
}

html {
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
}

body {
    position: relative;
    background: url(./assets/bkgd-img/818.jpg) no-repeat center/100%;
    background-size: cover;
    color: var(--light);
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;

    transition: transform ease-in 250ms;
}

.hero {
    text-align: center;
    padding: 3rem;
    font-family: "Rubik Bubbles", sans-serif;
    font-size: 3rem;
    color: var(--light);
}

.projects {
    font-family: "Nunito", sans-serif;
    padding: 1.5rem;
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    min-height: 70vh;
    width: min(50rem, 85%);
}

.add-project img {
    width: 2.25rem;
    height: auto;
}

.project-list-item {
    font-family: "Nunito", sans-serif;
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    margin: 1rem 0;
    cursor: pointer;
}

.project-list-item-name {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
}

.circle {
    padding: 0.3rem;
    margin-right: 0.7rem;
    border-radius: 50%;
}

.project-options-btn {
    margin-right: 0.3rem;
}

.project-opts-list {
    font-family: "Nunito", sans-serif;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    padding: 0.7rem;
    border-radius: 0.3rem;
    background-color: var(--light);
    display: flex;
    flex-direction: column;
}

.project-opt {
    font-family: "Nunito", sans-serif;
    display: flex;
    padding: 0.3rem 0;
}

.project-opt img {
    margin-right: 0.7rem;
}

.prompt-container {
    font-family: "Nunito", sans-serif;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: var(--light-filter);
    display: flex;
    justify-content: center;
    align-items: center;
}

.prompt-header {
    font-family: "Nunito", sans-serif;
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    margin-bottom: 1.5rem; 
}

.close-prompt {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.close-prompt img {
    width: 2rem;
    height: auto;
}

.field {
    font-family: "Nunito", sans-serif;
    display: grid;
    grid-template-columns: 4rem 1fr;
    margin: 1.5rem 0;
}

.prompt-submit {
    background-color: var(--dark);
    padding: 1rem;
    margin-top: 1.5rem;
    border-radius: 0.3rem;
    color: var(--light);
    font-weight: 600;
}

.project {
    font-family: "Nunito", sans-serif;
    position: absolute;
    left: 100%;
    width: 100vw;
    height: 100vh;
    transition: transform ease-in 250ms;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-header {
    text-align: center;
    padding: 2rem 0 0.7rem 0;
    font-size: 2rem;
    font-family: "Nunito", sans-serif;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--light);
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.go-back-btn {
    position: absolute;
    top: 2rem;
    left: 2rem;
    display: flex;
}

.go-back-btn img {
    width: 3.5rem;
    height: auto;
}

.project-header-gutter {
    width: 90%;
    min-height: 0.15rem;
    margin-bottom: 1.5rem;
}

.progress-meter {
    height: 100%;
}

.project-content {
    width: min(80%, 50rem);
    padding: 1.5rem;
}

.task-list {
    font-family: "Nunito", sans-serif;
    height: 80vh;
    overflow-y: scroll;
    padding-right: 0.7rem;
}

::-webkit-scrollbar {
    width: 0.7rem;
}

::-webkit-scrollbar-track {
    margin-top: 1.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--light-filter);
    backdrop-filter: blur(0.7rem);
    border-radius: 0.3rem;
}

@supports (scrollbar-color: red blue) {
    * {
        scrollbar-color: var(--dark);
        scrollbar-width: thin;
    }
}

.tasks-header {
    font-family: "Nunito", sans-serif;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    border-bottom: 0.15rem solid var(--dark);
    padding: 0 0.3rem;
}

.task-item {
    font-family: "Nunito", sans-serif;
    padding: 0.7rem 0 0.7rem 0.3rem;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
}

.task-item .task-title {
    font-family: "Nunito" sans-serif;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.checkbox {
    margin: 0.5rem;
}

.task-item .expand-btn {
    margin-left: 0.7rem;
}

.task-card .checkbox {
    margin-bottom: 0.85rem;
}

.completed .task-title {
    text-decoration: line-through;
}

.task-card {
    font-family: "Nunito", sans-serif;
    padding: 0.7rem;
    margin: 1.5rem 0;
    display: grid;
    grid-template-columns: auto 1fr auto;
    box-shadow: none;
    border-radius: 0.7rem;
}

.task-card .task-title {
    font-weight: 600;
}

.task-status {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img .priority {
    width: 1.5rem;
    height: auto;
}

.marker-low {
    display: none;
    filter: invert(75%) sepia(17%) saturate(4533%) hue-rotate(33deg) brightness(95%) contrast(104%);
}

.marker-medium {
    filter: invert(81%) sepia(66%) saturate(675%) hue-rotate(3deg) brightness(102%) contrast(103%);
}

.marker-high {
    filter: invert(76%) sepia(36%) saturate(6432%) hue-rotate(341deg) brightness(100%) contrast(95%);
}

.marker-urgent {
    filter: invert(16%) sepia(95%) saturate(3732%) hue-rotate(349deg) brightness(84%) contrast(92%);
}

.task-detail {
    font-family: "Nunito", sans-serif;
    font-size: 0.9rem;
    padding-right: 0.7rem;
    display: flex;
    align-items: center;
}

.task-detail label {
    font-family: "Nunito", sans-serif;
    margin-right: 0.5rem;
    font-weight: 500;
}

.task-detail input {
    margin: 0.7rem 0;
}

.task-description {
    font-family: "Nunito", sans-serif;
    margin-bottom: 1rem;
}

.task-actions {
    font-family: "Nunito", sans-serif;
    display: flex;
    flex-direction: column;
}

.task-actions button {
    padding: 0.3rem 0;
}